.titre{
    background-color: rgb(209, 192, 149);
    border: 1px solid goldenrod;
    text-align: center;
}
.container{
    background-color: ivory;
    text-align: justify;
    border: 1px solid goldenrod;
    min-height: 100%;
    border-color:2px solid goldenrod;
}

.paragraphe{
    margin-top:10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: justify;
}